.card{
    height:300px;
    width: 350px;
    border: 1px solid black;
    background-color: #f3f3f3;
    position:absolute;
}

.top{
    height:15%;
    width: 100%;
    background-color:white;
    border-bottom: 2px solid #e7e7e7;
    text-align:center;
    position:absolute;
    top: 0px;
}

#camera{
    display:inline-block;
    width: 7.5%;
    vertical-align:middle;
}

.top h2{
    display:inline-block;
    vertical-align:middle;
    width: 25%;
    font-family:"Montserrat";
    color: #2ab0b9;
    font-size: 1em;
    text-transform:uppercase;
}

.content{
    position:absolute;
    top:16%;
    height:68%;
    width: 100%;
    background-color:#f3f3f3;
    text-align:center;
    padding: 1px 0;
}

.pictures{
  width: 100%;
  text-align: center;
  background-color: #f3f3f3;
}

/* line 52, ../sass/screen.scss */
.image {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: black;
  text-align: center;
  margin: 0 2.5px;
}

/* line 61, ../sass/screen.scss */
#pic1 {
  background-image: url("images/pic1.png");
  background-size: 100%;
}

/* line 66, ../sass/screen.scss */
#pic2 {
  background-image: url("images/pic2.png");
  background-size: 100%;
}

/* line 72, ../sass/screen.scss */
#pic3 {
  background-image: url("images/pic3.png");
  background-size: 100%;
}

/* line 77, ../sass/screen.scss */
#pic4 {
  background-image: url("images/pic4.png");
  background-size: 100%;
}

/* line 82, ../sass/screen.scss */
#pic5 {
  background-image: url("images/pic5.png");
  background-size: 100%;
}

/* line 87, ../sass/screen.scss */
#pic6 {
  background-image: url("images/pic1.png");
  background-size: 100%;
}





.expand{
    height:15%;
    width: 100%;
    background-color:white;
    border-top: 2px solid #e7e7e7;
    text-align:center;
    position:absolute;
    bottom: 0px;
}

.center{
    display:inline-block;
    height: 100%;
    vertical-align:middle;
}





#arrow{
    display:inline-block;
    vertical-align:middle;
}

