.card{
    height:300px;
    width: 350px;
    border: 1px solid black;
    background-color: #f3f3f3;
    position:absolute;
    overflow:hidden;
}

.top{
    height:15%;
    width: 100%;
    background-color:white;
    border-bottom: 2px solid #e7e7e7;
    text-align:center;
    position:absolute;
    top: 0px;
}

#feeds{
    display:inline-block;
    width: 10%;
    vertical-align:middle;
}

h2{
    display:inline-block;
    vertical-align:middle;
    width: 25%;
    font-family:"Montserrat";
    color: #2ab0b9;
    font-size: 1em;
    text-transform:uppercase;
}

.content{
    position:absolute;
    top:16%;
    height:68%;
    width: 100%;
    background-color:#f3f3f3;
    text-align:center;
}

.location{
    display:inline-block;
    height: 90%;
    width:40%;
    background-color:purple;
    vertical-align:middle;
    margin: 0 5px 0 5px;
    text-align:center;
    position:relative;
}

.location img{
    position:relative;
    margin:10% auto 0 auto;
    height: 60px;
    width:auto;

}

.location h2{
    font-size: 2.5em;
    color:white;
    text-transform:bold;
    width:auto;
    position:relative;
    margin: 2% auto 0 auto;
    
}

.location h3{
    font-size: 1em;
    color: white;
    font-family: "Montserrat";
    position:relative;
    margin: 10% auto 0 auto;
}

.location p{
    font-size: .5em;
    color:white;
    font-family: "Montserrat";
    position:relative;
    margin: 5% auto 0 auto;
}

#annecy{
    background-image: url('images/bkg1.png');
    background-repeat: no-repeat;
    background-height:100%;
}

#encinitas{
    background-image: url('images/bkg2.png');
    background-height:100%;
    background-repeat:no-repeat;
}


.expand{
    height:15%;
    width: 100%;
    background-color:white;
    border-top: 2px solid #e7e7e7;
    text-align:center;
    position:absolute;
    bottom: 0px;
}

.center{
    display:inline-block;
    height: 100%;
    vertical-align:middle;
}





#arrow{
    display:inline-block;
    vertical-align:middle;
}


